:root {
    --neon-green: #39ff14;
    --dark-green: #24b30e;
    --hot-pink: #ff1450;
    --dark-pink: #b30e38;
}

*{
    margin: 0;
    padding: 0;
}

.container {
    background: var(--dark-pink);
}

input {
    margin: 50px;
}

label {
    margin-left: 50px;
}

ul {
    list-style-type: none;
    margin-left: 100px;
}

li {
    margin: 10px;
    padding: 10px;
}

li:hover {
    cursor: pointer;
}

#submit-btn {
    color: white;
    max-width: 50px;
    max-height: 25px;
    margin-left: 50px;
    padding: 15px;
}

#submit-btn:hover {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-align-center {
    justify-content: center;
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-acround {
    justify-content: space-around;
}

.row {
    width: 60%;
}

.top-row {
    margin-top: 200px;
}

.col {
    min-width: 50px;
    min-height: 50px;
}

.neon-green {
    background: var(--neon-green);
}

.dark-green {
    background: var(--dark-green);
}

.hot-pink {
    background: var(--hot-pink);
}

.dark-pink {
    background: var(--dark-pink);
}

.square {
    padding: 50px;
    text-align: center;
    margin: 2px;
    border: 2px solid black;
}

.square:hover {
    cursor: pointer;
}